<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0"/>
        <link rel="stylesheet" href="/static/public/css/main.css">
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-68425527-1', 'auto');
          ga('send', 'pageview');

        </script>
        <script src="//load.sumome.com/" data-sumo-site-id="d06235465ae51116be82e42dfa49b84d77efbbfd8ad2eea1a2e25a14480e14b6" async="async"></script>
        <title>Mode For Me</title>
    </head>
    <body>
        <header class="designer-header">
            <nav>
                <a href="/">
                    <img class="logo" src="../static/public/images/logo.png">
                </a>
                <img class="hamburger" src="../static/public/images/hamburger.png">
            </nav>
            <div class="mobile-nav">
                <a href="/">
                    <p>Home</p>
                </a>
                <a href="/apply">
                    <p>Designer Application</p>
                </a>
                <a href="/contact">
                    <p>Contact Us</p>
                </a>
            </div>
            <h1 class="designer-title">Lukas Gschwandtner</h1>
            <div class="first alex"></div>
            <div class="second alex2"></div>
        </header>
        <div class="designer-story">
            <p>Bags are my absolute passion. At the age of 12 years I was seized with the desire and the love of craftsmanship. For hours I sat with excitement at my workplace to implement my ideas and my creativity in handbags. From the early days was passion that brought them together with my brother and my family great support establishing my own label. To broaden my horizons I visited the Vienna Fashion School in Hetzendorf. I was allowed to sell my bags in Dantendorfer Store in Salzburg with much success. Purism, simplicity and fine detail characterise my style. The unique are made ​​of quality leather and recycled, purified furs.</p>
        </div>
        <h4>DESIGNS BY LUKAS</h4>
        <div class="designer-product-grid">
            <a href="/products/l1">
                <img class="designer-product" src="../static/public/images/alex1.jpg">
            </a>
            <a href="/products/l2">
                <img class="designer-product" src="../static/public/images/alex3.jpg">
            </a>
            <a href="/products/l3">
                <img class="designer-product" src="../static/public/images/alex5.jpg">
            </a>
        </div>
        <footer>
            <div class="social-media">
                <ul>
                    <li>
                        <a href="https://www.twitter.com/modeforme"><img class="twitter" src="../static/public/images/twitter.svg"></a>
                        <h3>TWITTER</h3>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/modeformelondon"><img class="facebook" src="../static/public/images/facebook.svg"></a>
                        <h3>FACEBOOK</h3>
                    </li>
                </ul>
            </div>
        </footer>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript" src="../static/public/js/script.js"></script>
    </body>
</html>
