<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0"/>
        <link rel="stylesheet" href="/static/public/index.css">
        <title>Off Limits</title>
    </head>
    <body>
        <nav>
            <img class="hamburger" src="../static/public/images/hamburger.png">
            <div class=mobile-nav>
                <a href="/">
                    <p>Home</p>
                </a>
                <a href="/designers">
                    <p>Designers</p>
                </a>
            </div>
        </nav>
        <p>Hello world!</p>
        <script type="text/javascript" src="/static/public/script.js"></script>
    </body>
</html>
