html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  -webkit-appearance: none; }

html {
  background-color: white;
  font-family: Source Sans Pro; }

.row {
  position: relative; }

[class*='col-'] {
  display: inline-block; }

.col-2 {
  width: 49%; }

.col-3 {
  width: 32.9%; }

nav {
  background-color: white;
  height: 80px; }

.logo {
  height: 60px;
  float: left;
  padding: 5px; }
  @media (max-width: 500px) {
    .logo {
      height: 40px;
      padding-top: 20px; } }

.hamburger {
  float: right;
  height: 40px;
  padding: 20px;
  width: 40px; }
  .hamburger:hover {
    cursor: pointer; }

.twitter, .facebook {
  float: right;
  height: 35px;
  padding: 20px; }

.mobile-nav {
  background-color: white;
  display: none;
  font-size: 18px;
  position: absolute;
  text-align: center;
  width: 100%; }
  .mobile-nav a {
    color: black;
    text-decoration: none; }
  .mobile-nav p {
    border-top: 1px solid #F3F3F3;
    padding: 10px 0;
    text-align: center; }
  .mobile-nav p:hover {
    cursor: pointer; }

footer {
  background-color: white;
  height: 200px; }
  footer .social-media {
    margin: 0 auto;
    text-align: center; }
    footer .social-media li {
      display: inline-block; }
    footer .social-media h3 {
      display: none; }
  footer .twitter, footer .facebook {
    height: 35px;
    margin: 0 auto;
    padding: 10px;
    padding-top: 100px; }
    footer .twitter h3, footer .facebook h3 {
      display: none; }

.how-it-works-title {
  font-size: 36px;
  letter-spacing: 2px;
  padding: 50px 0 40px 0;
  text-align: center; }

.how-it-works {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px; }
  .how-it-works .how-it-works-component {
    background-color: white;
    border: 1px solid lightgrey;
    -webkit-box-shadow: 0 4px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 4px 0 rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0 4px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.05);
    height: 250px;
    margin: 0 20px 20px 20px;
    padding: 30px;
    text-align: center;
    width: 250px; }
  .how-it-works img {
    height: 125px;
    padding-bottom: 20px;
    width: 125px; }
  .how-it-works h2 {
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 5px;
    text-transform: uppercase; }
  .how-it-works h3 {
    font-size: 18px;
    line-height: 1.2; }

.splash {
  background-attachment: fixed;
  background-image: url("../images/home-image.jpg");
  background-size: cover;
  height: 100vh;
  text-align: center; }
  .splash h1 {
    color: white;
    font-size: 60px;
    letter-spacing: 5px;
    line-height: 1.5;
    padding: 15% 0 5% 0;
    text-align: center;
    text-transform: uppercase; }

.homepage-content {
  margin: 20px; }
  .homepage-content .homepage-content-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .homepage-content .one-third img {
    flex-shrink: 1; }
  .homepage-content .two-thirds img {
    flex-shrink: 2; }

.introduction {
  box-sizing: border-box;
  height: auto;
  font-size: 20px;
  line-height: 1.5;
  padding: 90px 180px;
  text-align: center; }

.featured-content {
  background-color: #FAFAFA;
  margin-bottom: 20px;
  width: 100%; }
  .featured-content h1 {
    font-size: 36px;
    letter-spacing: 2px;
    padding: 50px 0 20px 0;
    text-align: center; }
  .featured-content.designer-wrapper {
    display: inline-block;
    position: relative; }
    @media (max-width: 1000px) {
      .featured-content.designer-wrapper {
        width: 49%; } }
    @media (max-width: 700px) {
      .featured-content.designer-wrapper {
        width: 100%; } }
  .featured-content img.designer-photo {
    box-sizing: border-box;
    border: 2px solid #FAFAFA;
    margin-top: 20px;
    object-fit: cover;
    width: 100%; }
    .featured-content img.designer-photo:hover {
      opacity: 0.5; }
  .featured-content h3 {
    color: black;
    letter-spacing: 2px;
    padding: 15px; }
  .featured-content a {
    text-decoration: none; }
  .featured-content .two-thirds {
    width: 60%; }
  .featured-content .one-third {
    width: 30%; }

.splash-two {
  background-attachment: fixed;
  background-image: url("../images/studio.jpg");
  background-size: cover;
  height: 500px;
  text-align: center; }
  .splash-two h1 {
    color: white;
    font-size: 60px;
    letter-spacing: 5px;
    line-height: 1.5;
    padding: 10% 0 5% 0;
    text-align: center;
    text-transform: uppercase; }
  .splash-two .required-email {
    display: inline;
    font-family: 'Source Sans Pro';
    font-size: 20px;
    height: 50px;
    padding-left: 10px;
    width: 300px; }
  .splash-two .response {
    font-size: 14px; }
  .splash-two .disclaimer {
    color: gray;
    font-size: 12px;
    margin: 5px auto; }
  .splash-two .button {
    background-color: white;
    border: 2px solid black;
    color: black;
    cursor: pointer;
    display: inline;
    font-size: 20px;
    letter-spacing: 3px;
    margin-top: 10px;
    padding: 15px 15px;
    text-align: center;
    width: 250px; }
    .splash-two .button:hover {
      background-color: black;
      color: white; }
  .splash-two .clear {
    display: inline-block; }

@media (max-width: 800px) {
  .splash h1, .splash-two h1 {
    font-size: 50px; }

  .required-email {
    width: 300px; }

  .introduction {
    padding: 50px; } }
@media (max-width: 600px) {
  .splash h1, .splash-two h1 {
    font-size: 40px;
    padding-bottom: 10%; } }
@media (max-width: 450px) {
  .splash h1, .splash-two h1 {
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px; }

  .splash-text .required-email {
    width: 260px !important; } }
.mce_inline_error:nth-child(odd) {
  display: none !important; }

.designer-header {
  box-sizing: border-box;
  height: 100vh;
  width: 100%; }
  .designer-header .first, .designer-header .second {
    background-position: center center;
    background-size: cover;
    display: inline-block;
    height: 90vh;
    margin: 0;
    object-fit: cover;
    width: 49.8%; }
  .designer-header .second {
    float: right; }

.designer-title {
  background-color: rgba(255, 255, 255, 0.9);
  letter-spacing: 3px;
  font-size: 80px;
  left: 25%;
  padding: 50px;
  position: absolute;
  text-align: center;
  top: 40%; }

.designer-story {
  background-color: white;
  border: 1px solid #e0e0e0;
  font-size: 20px;
  line-height: 1.5;
  padding: 60px;
  margin: 60px 300px 60px 150px; }

h4 {
  font-size: 24px;
  letter-spacing: 2px;
  padding: 0 0 20px 80px; }

.designer-product-grid {
  margin-bottom: 50px;
  text-align: center;
  width: 100%; }
  .designer-product-grid img {
    border: 2px solid #FAFAFA;
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    object-fit: cover;
    width: 32.9%; }
  .designer-product-grid img:hover {
    cursor: pointer;
    opacity: 0.5; }

@media (max-width: 1150px) {
  .designer-title {
    left: 15%; } }
@media (max-width: 1000px) {
  .designer-title {
    font-size: 60px;
    left: 20%;
    padding: 20px; } }
@media (max-width: 800px) {
  .designer-title {
    font-size: 40px;
    left: 10%;
    right: 10%; } }
@media (max-width: 1200px) {
  .designer-header .first {
    width: 100%; }
  .designer-header .second {
    display: none; }

  .designer-story {
    padding: 30px;
    margin: 30px 100px 30px 60px; } }
@media (max-width: 850px) {
  .designer-story {
    padding: 30px;
    margin: 20px 100px 20px 60px; } }
@media (max-width: 1000px) {
  .designer-product-grid img {
    width: 49%; } }
@media (max-width: 700px) {
  .designer-product-grid img {
    width: 100%; }

  .designer-story {
    padding: 20px;
    margin: 20px; } }
.emily {
  background-image: url("../images/emily.jpg"); }

.emily2 {
  background-image: url("../images/zaha.jpg"); }

.alex {
  background-image: url("../images/alex.jpg"); }

.alex2 {
  background-image: url("../images/face.jpg"); }

.hemyca {
  background-image: url("../images/hemyca.jpg"); }

.hemyca2 {
  background-image: url("../images/hem.jpg"); }

.about-content {
  min-height: 50vh;
  margin: 50px 150px;
  text-align: center; }
  .about-content h2 {
    font-size: 50px;
    letter-spacing: 2px;
    margin-bottom: 20px; }
  .about-content p {
    font-size: 20px;
    line-height: 1.1;
    margin-bottom: 20px;
    text-align: left; }
  .about-content a {
    color: black;
    font-weight: bold; }

@media (max-width: 875px) {
  .about-content {
    margin: 40px 50px; }
    .about-content h2 {
      font-size: 32px; }
    .about-content p {
      font-size: 18px; } }
.contact-form-intro {
  margin: 50px 150px;
  text-align: center; }
  .contact-form-intro h2 {
    font-size: 50px;
    letter-spacing: 2px;
    margin-bottom: 20px; }
  .contact-form-intro p {
    font-size: 20px;
    line-height: 1.1;
    text-align: left; }

.contact-form {
  margin: 50px 150px; }
  .contact-form input, .contact-form textarea {
    border: 1px solid lightgrey;
    display: block;
    font-size: 18px;
    margin: 10px;
    padding: 10px;
    width: 600px; }
  .contact-form input[type="submit"] {
    letter-spacing: 2px;
    margin-left: 450px;
    text-transform: uppercase;
    width: 150px; }
  .contact-form textarea {
    height: 250px; }

@media (max-width: 875px) {
  .contact-form-intro, .contact-form {
    margin: 40px 50px; }
    .contact-form-intro h2, .contact-form h2 {
      font-size: 32px; }
    .contact-form-intro p, .contact-form p {
      font-size: 18px; }
    .contact-form-intro input, .contact-form-intro textarea, .contact-form input, .contact-form textarea {
      width: 400px; }
    .contact-form-intro input[type="submit"], .contact-form input[type="submit"] {
      margin-left: 250px; } }
@media (max-width: 500px) {
  .contact-form input, .contact-form textarea {
    width: 85%; }
  .contact-form input[type="submit"] {
    margin-left: 100px; } }
.product-header {
  box-sizing: border-box;
  height: 100vh;
  width: 100%; }
  .product-header .product-first, .product-header .product-second {
    background-size: cover;
    display: inline-block;
    height: 90vh;
    margin: 0;
    object-fit: cover;
    width: 49.8%; }
  .product-header .product-first img {
    display: none;
    height: 500px;
    margin: 0 auto;
    padding-top: 60px;
    text-align: center;
    width: 500px; }
  .product-header .product-second {
    background-color: #FAFAFA;
    float: right; }
    .product-header .product-second a {
      color: black;
      text-decoration: none; }
  .product-header .product-info {
    padding: 50px; }
  .product-header h1 {
    font-size: 36px;
    letter-spacing: 2px;
    padding: 10px 0; }
  .product-header h2 {
    font-size: 24px;
    padding: 10px 0; }
  .product-header h3 {
    font-size: 24px;
    padding: 10px 0; }
  .product-header p {
    font-size: 18px;
    line-height: 1.5;
    padding: 10px 0; }
  .product-header .goal-box {
    background-color: white;
    border: 1px solid #e0e0e0;
    margin: 20px auto 20px auto;
    max-width: 500px;
    padding: 20px;
    text-align: center; }
    .product-header .goal-box p {
      font-size: 20px;
      display: inline-block;
      text-align: center; }
    .product-header .goal-box span {
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 2px; }
    .product-header .goal-box img {
      max-width: 400px; }
  .product-header .product-second .button {
    background-color: white;
    border: 2px solid black;
    color: black;
    cursor: pointer;
    display: block;
    font-size: 20px;
    letter-spacing: 3px;
    margin: 20px auto 0 auto;
    padding: 15px 15px;
    width: 350px; }
    .product-header .product-second .button:hover {
      background-color: black;
      color: white; }
  .product-header .product-second .required-email {
    display: block;
    font-family: 'Source Sans Pro';
    font-size: 20px;
    height: 50px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    width: 300px; }
  .product-header .product-second .bought {
    color: gray;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center; }
  .product-header .product-second .confirmation {
    text-align: center; }
  .product-header .checkout-button .purchase-form input[type="text"] {
    display: none; }
  .product-header .checkout-button .purchase-form input[type="submit"] {
    background-color: white;
    border: 2px solid black;
    color: black;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 3px;
    margin-top: 10px;
    padding: 15px 15px;
    text-align: center;
    width: 250px; }
    .product-header .checkout-button .purchase-form input[type="submit"]:hover {
      background-color: black;
      color: white; }

@media (max-width: 1300px) {
  .product-header .product-first {
    background-image: none; }
    .product-header .product-first img {
      display: inline-block;
      padding-left: 8%; }

  .product-header .product-second {
    width: 50%; }
    .product-header .product-second img {
      width: 250px; } }
@media (max-width: 1050px) {
  .product-header .product-first, .product-header .product-second {
    width: 100%; }

  .product-header .product-first {
    height: auto; } }
@media (max-width: 550px) {
  .product-header .product-first img {
    display: block;
    height: 300px;
    padding-left: 0;
    padding-top: 40px;
    width: 300px; }

  .product-header .product-second {
    float: right;
    height: auto; }
    .product-header .product-second .button {
      font-size: 14px;
      width: 250px; }
    .product-header .product-second img {
      width: 200px; }

  .product-header button {
    width: 250px; }

  .product-info {
    float: none;
    margin: 0;
    padding: 0; } }
.emily-pic-1 {
  background-image: url("../images/emily3.jpg"); }

.emily-pic-2 {
  background-image: url("../images/emily1.jpg"); }

.emily-pic-3 {
  background-image: url("../images/emily2.jpg"); }

.lukas-pic-1 {
  background-image: url("../images/alex1.jpg"); }

.lukas-pic-2 {
  background-image: url("../images/alex3.jpg"); }

.lukas-pic-3 {
  background-image: url("../images/alex5.jpg"); }

.hem-pic-1 {
  background-image: url("../images/hem1.jpg"); }

.hem-pic-2 {
  background-image: url("../images/hem3.jpg"); }

.hem-pic-3 {
  background-image: url("../images/hem2.jpg"); }

.checkout {
  min-height: 60vh;
  margin: 50px 150px;
  text-align: center; }
  .checkout h2 {
    font-size: 50px;
    letter-spacing: 2px;
    margin-bottom: 20px; }
  .checkout h3 {
    font-size: 30px;
    margin: 50px 0 30px 0;
    text-align: left; }
  .checkout p {
    font-size: 18px;
    line-height: 1.1;
    margin-bottom: 20px;
    text-align: left; }
  .checkout a {
    color: black;
    font-weight: bold; }
  .checkout button, .checkout input[type="submit"] {
    background-color: #FAFAFA;
    border: 1px solid black;
    cursor: pointer;
    font-size: 22px;
    letter-spacing: 1px;
    margin-top: 20px;
    padding: 10px 15px;
    width: 300px; }
  .checkout .shopping-cart {
    text-align: left; }
    .checkout .shopping-cart h4 {
      display: inline-block;
      padding: 0 0 5px 0; }
    .checkout .shopping-cart h4:first-of-type {
      margin-right: 52%;
      width: 300px; }
    .checkout .shopping-cart img {
      border: solid 1px black;
      display: inline-block;
      height: 150px;
      width: 150px; }
    .checkout .shopping-cart .item {
      align-items: flex-start;
      display: flex;
      margin: 20px; }
      .checkout .shopping-cart .item p {
        padding: 20px;
        text-transform: uppercase; }
      .checkout .shopping-cart .item p:first-of-type {
        margin-right: 25%;
        width: 400px; }
      .checkout .shopping-cart .item i {
        font-size: 22px;
        font-weight: bold; }
    .checkout .shopping-cart .checkout-button {
      float: right;
      margin-right: 100px;
      text-align: center; }

@media (max-width: 875px) {
  .checkout {
    margin: 40px 50px; }
    .checkout h2 {
      font-size: 32px; }
    .checkout p {
      font-size: 18px; }
    .checkout .shopping-cart .checkout-button {
      float: none;
      margin-right: 0; } }

/*# sourceMappingURL=main.css.map */
