html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  background-color: #FAFAFA;
  font-family: Source Sans Pro; }

nav {
  background-color: white;
  height: 80px; }

.logo {
  height: 60px;
  float: left;
  padding: 5px; }

.hamburger {
  float: right;
  height: 40px;
  padding: 20px;
  width: 40px; }
  .hamburger:hover {
    cursor: pointer; }

.mobile-nav {
  display: none; }

footer {
  background-color: white;
  height: 200px; }

.splash {
  background-image: url("../images/home-image.jpg");
  background-size: cover;
  height: 100vh; }

.splash-text {
  background-color: white;
  box-sizing: border-box;
  font-size: 24px;
  height: 300px;
  margin: 15% auto 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 100px;
  text-align: center;
  width: 700px; }
  .splash-text h3 {
    font-size: large; }
  .splash-text .get-started {
    background-color: black;
    border: 2px solid black;
    color: white;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 3px;
    margin-top: 30px;
    padding: 15px 15px;
    width: 220px; }
    .splash-text .get-started:hover {
      background-color: white;
      color: black; }

@media (max-width: 800px) {
  .splash-text {
    font-size: 24px;
    width: 400px; } }
.designer-header {
  box-sizing: border-box;
  height: 100vh;
  width: 100%; }
  .designer-header .first, .designer-header .second {
    background-size: cover;
    display: inline-block;
    height: 90vh;
    margin: 0;
    object-fit: cover;
    width: 49.8%; }
  .designer-header .first {
    background-image: url("https://movieshoovy.files.wordpress.com/2014/04/designer-maria-b-working-on-a-sketch-for-her-psfw-2014-collection-f.jpg"); }
  .designer-header .second {
    background-image: url("https://normalityandme.files.wordpress.com/2012/02/anna2.jpg");
    float: right; }

.designer-title {
  background-color: rgba(255, 255, 255, 0.9);
  letter-spacing: 3px;
  font-size: 80px;
  left: 28%;
  padding: 50px;
  position: absolute;
  text-align: center;
  top: 40%; }

.designer-story {
  background-color: white;
  border: 1px solid #e0e0e0;
  font-size: 20px;
  line-height: 1.5;
  padding: 60px;
  margin: 60px 300px 60px 150px; }

h4 {
  font-size: 24px;
  letter-spacing: 2px;
  padding: 0 0 20px 80px; }

.designer-product-grid {
  margin-bottom: 50px;
  text-align: center;
  width: 100%; }
  .designer-product-grid img {
    border: 2px solid #FAFAFA;
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    object-fit: cover;
    width: 32.9%; }
  .designer-product-grid img:hover {
    cursor: pointer;
    opacity: 0.5; }

@media (max-width: 1200px) {
  .designer-header .first {
    width: 100%; }
  .designer-header .second {
    display: none; }

  .designer-story {
    padding: 30px;
    margin: 30px 100px 30px 60px; } }
@media (max-width: 850px) {
  .designer-story {
    padding: 30px;
    margin: 20px 100px 20px 60px; } }
@media (max-width: 1000px) {
  .designer-product-grid img {
    width: 49%; } }
@media (max-width: 700px) {
  .designer-product-grid img {
    width: 100%; }

  .designer-story {
    padding: 20px;
    margin: 20px; } }

/*# sourceMappingURL=main.css.map */
