.checkout {
    min-height: 60vh;
    margin: 50px 150px;
    text-align: center;

    h2 {
        font-size: 50px;
        letter-spacing: 2px;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 30px;
        margin: 50px 0 30px 0;
        text-align: left;
    }

    p {
        font-size: 18px;
        line-height: 1.1;
        margin-bottom: 20px;
        text-align: left;
    }

    a {
        color: black;
        font-weight: bold;
    }

    button, input[type="submit"] {
        background-color: #FAFAFA;
        border: 1px solid black;
        cursor: pointer;
        font-size: 22px;
        letter-spacing: 1px;
        margin-top: 20px;
        padding: 10px 15px;
        width: 300px;
    }

    .shopping-cart {
        text-align: left;

        img {
            border: solid 1px black;
            display: inline-block;
            height: 150px;
            width: 150px;
        }

        .item {
            align-items: flex-start;
            display: flex;
            margin: 20px;

            @media (max-width: 550px) {
                display: block;
                text-align: center;
            }

            p {
                padding: 20px;
                text-transform: uppercase;

                @media (max-width: 550px) {
                    margin-bottom: 0;
                    padding: 10px 5px 5px 5px;
                    text-align: center;
                }
            }

            p:first-of-type {
                margin-right: 25%;
                width: 400px;

                @media (max-width: 750px) {
                    margin-right: 0;
                    width: auto;
                }
            }

            i {
                font-size: 22px;
                font-weight: bold;
            }
        }

        .checkout-button {
            float: right;
            margin-right: 100px;
            text-align: center;
        }

    }
}

@media (max-width: 875px) {
    .checkout {
        margin: 40px 50px;

        h2 {
            font-size: 32px;
        }

        p {
            font-size: 18px;
        }

        .shopping-cart {

            .checkout-button {
                float: none;
                margin-right: 0;
            }
        }

    }
}
