.checkout {
    min-height: 50vh;
    margin: 50px 150px;
    text-align: center;

    h2 {
        font-size: 50px;
        letter-spacing: 2px;
        margin-bottom: 20px;
    }

    p {
        font-size: 20px;
        line-height: 1.1;
        margin-bottom: 20px;
        text-align: left;
    }

    a {
        color: black;
        font-weight: bold;
    }

    .cart-item {

        h3 {
            font-size: 30px;
            margin: 50px 0 20px 0;
            text-align: left;
        }

        img {
            border: solid 1px black;
            height: 150px;
            float: left;
            width: 150px;
        }

        p {
            font-size: 24px;
            font-weight: bold;
        }
    }
}
