.splash {
	// background-attachment: fixed;
	// background-image: url('../images/splash.png');
	background-size: cover;
	height: 100vh;
	text-align: center;

	h1 {
		color: white;
		font-size: 60px;
		letter-spacing: 5px;
		line-height: 1.5;
		padding: 10% 0 5% 0;
		text-align: center;
		text-transform: uppercase;
	}

	// Mailing list signup
	.required-email {
		display: inline;
		font-family: 'Source Sans Pro';
		font-size: 20px;
		height: 50px;
		padding-left: 10px;
		width: 300px;
	}
	.response {
		font-size: 14px;
	}
	.disclaimer {
		color: gray;
		font-size: 12px;
		margin: 5px auto;
	}
	.button {
		background-color: white;
		border: 2px solid black;
		color: black;
		cursor: pointer;
		display: inline;
		font-size: 20px;
		letter-spacing: 3px;
		margin-top: 10px;
		padding: 15px 15px;
		text-align: center;
		width: 250px;
		&:hover {
			background-color: black;
			color: white;
		}
	}
	.clear {
		display: inline-block;
	}

}

.homepage-content {
	margin: 20px;

	.homepage-content-row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}


	.one-third {

		img {
			flex-shrink: 1;
		}

	}

	.two-thirds {
		img {
			flex-shrink: 2;
		}
	}
}


.introduction {
	box-sizing: border-box;
	height: auto;
	font-size: 20px;
	line-height: 1.5;
	padding: 90px 180px;
	text-align: center;
}

.featured-content {
	background-color: #FAFAFA;
	margin-bottom: 20px;
	width: 100%;

	h1 {
		font-size: 36px;
		letter-spacing: 2px;
		padding: 50px 0 20px 0;
		text-align: center;
	}

	&.designer-wrapper {
		display: inline-block;
		position: relative;

		@media (max-width: 1000px) {
			width: 49%;
		}

		@media (max-width: 700px) {
			width: 100%;
		}
	}

	& img.designer-photo {
		box-sizing: border-box;
		border: 2px solid #FAFAFA;
		margin-top: 20px;
		object-fit: cover;
		width: 100%;
		&:hover {
			opacity: 0.5;
		}
	}

	h3 {
		color: black;
		letter-spacing: 2px;
    	padding: 15px;
		// text-decoration: none;
	}

	a {
		text-decoration: none;
	}

	.two-thirds {
		width: 60%;
	}

	.one-third {
		width: 30%;
	}
}

@media (max-width: 800px) {

	.splash h1 {
		font-size: 50px;
		height: 350px;
		.required-email {
			width: 300px;
		}
	}

	.introduction {
		padding: 50px;
	}
}

@media (max-width: 600px) {

	.splash h1 {
		font-size: 40px;
		height: 350px;
	}

}

@media (max-width: 450px) {
	.splash h1 {
		font-size: 30px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.splash-text .required-email {
		width: 260px !important;
	}
}
