.how-it-works {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 200px;

    .how-it-works-component {
        border: 1px solid grey;
        padding: 50px;
    }

    img {
        height: 200px;
    }
}
