nav {
    background-color: white;
    height: 80px;
}

.logo {
    height: 60px;
    float: left;
    padding: 5px;
}

.hamburger {
    float: right;
    height: 40px;
    padding: 20px;
    width: 40px;

    &:hover {
        cursor: pointer;
    }
}

.twitter {
    float: right;
    height: 35px;
    padding: 20px;
}

.mobile-nav {
    display: none;
}
