nav {
    background-color: white;
    height: 80px;
}

.logo {
    height: 60px;
    float: left;
    padding: 5px;
}

.hamburger {
    float: right;
    height: 40px;
    padding: 20px;
    width: 40px;

    &:hover {
        cursor: pointer;
    }
}

.twitter {
    float: right;
    height: 35px;
    padding: 20px;
}

.mobile-nav {
    background-color: white;
    display: none;
    font-size: 18px;
    text-align: center;
    width: 100%;
    z-index: -10;

    a {
        color: black;
        text-decoration: none;
    }

    p {
        border-top: 1px solid #F3F3F3;
        padding: 5px 0;
        text-align: center;
    }

    p:hover {
        cursor: pointer;
    }
}
